<!doctype html>
<html>
<head>    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RDCM2F77Z4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-RDCM2F77Z4');
  </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>특정맛집 페이지</title>
    <!-- <script src="//code.jquery.com/jquery-3.3.1.min.js"></script> -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <meta charset="utf-8">
  <style>
      body{
        font-family: 'Times New Roman', Times, serif;
        background-color: #AAA2C2;
        font-weight: 900;
      }


    .background {
        background-color: rgb(255, 255, 255);
        height: auto;
        width: 100%;
        max-width: 1500px;
        padding: 10px;
        margin: 25px auto;
        border-radius: 5px;
        box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
        text-align: center;
    }
    #wrap{
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    padding-top:30px;
  }
div > article{
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .btn {            
            border: none;
            width: auto;
            background-color: lightblue;
            color: white;
            padding: 15px auto;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
            transition: .2s;
        }
        .btn:hover {
            background-color: lightblue;
        }

</style>
</head>

<body>
    <div id="nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="./interest">우리집은 미슐랭 3스타</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./mainplace">맛집</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./mainrecipe">레시피</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">공지사항</a>
                </li>
              </ul>
              <form class="d-flex">
                <a href="./profile" >
                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA2MTJfMTM3%2FMDAxNjU1MDI1Mjc1MzU3.OVYKwTpbFBOJReYnuQozRpBrDPFf12f0o7qzDcOB4jkg.zFniiigVs2n9VHeyglPDcO5sJ7PX5uSHP3gvc5FoN9Mg.PNG.kimgomram%2Fimage.png&type=a340" class="img-thumbnail" width="100px" height="120px">
                </a>
                <input class= "form-control search_input" id="searchInput" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" onclick="search_click()" type="button">SEARCH</button>
                <button class="btn btn-outline-success" onclick="location.href='/api/users/logout'" type="button" >LOGOUT</button>
              </form>
            </div>
          </div>
        </nav>
    </div>
    
    <div class="background">
        <%= data[0].placeName %>
    </div>
  <div class="background">
    <div id="wrap">
        <% data.forEach((el,index) => {%>
      <article>
        <a onclick="place_key('<%= data[0].placeName %>','<%= el.p_key %>')" ><img  src= <%= el.image1 %> width="200px" height="200px" ></a>
          <figcaption><%= el.title %></figcaption>
      </article>     
       <% }) %>

    </div>
    </div>
    <div class="container">
      <div class="row">

      <div class="col-sm-2" >
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                정렬
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">추천순</a></li>
                <li><a class="dropdown-item" href="#">최신순</a></li>
              </ul>
            </div>
      </div>
</body>
<script>
     let s_data = []
  let name_arr = []
  //검색 데이터
  fetch("/api/users/search")
  .then((response) => response.json())
  .then(arr => {
  console.log("성공공", arr)
  s_data = arr
  arr.forEach(el => {
    name_arr.push(el.name)
  });
  console.log(name_arr)
  $("#searchInput").autocomplete({  //오토 컴플릿트 시작
    
    source: name_arr,	// source는 data.js파일 내부의 List 배열
    focus : function(event, ui) { // 방향키로 자동완성단어 선택 가능하게 만들어줌	
      return false;
    },
    minLength: 1,// 최소 글자수
    delay: 100,	//autocomplete 딜레이 시간(ms)
    //disabled: true, //자동완성 기능 끄기
    select: function(event,ui){ //close 이벤트에 form submit을 추가 해줍니다.
      console.log(arr)
      arr.forEach(el => {
        if (el.name === ui.item.value) {
        console.log(el.type)
        console.log(el.key)
          if (el.type == "p") {
            place_name(el.name)
          }
          else{
            recipe_key(el.foodT, el.name)
          }
        }
      });
    }
  });


  });



  function search_click(){
    let a = document.getElementById('searchInput').value
      if (a === "") {
        alert("검색어를 입력하세요!")
      }
      else if(name_arr.includes(a)){
        s_data.forEach(el => {
          if (el.name === a) {
            console.log(el.type)
            console.log(el.key)
              if (el.type == "p") {
                place_name(el.name)
              }
              else{
                recipe_key(el.foodT, el.name)
              }
            }
            
          });
      }
      else{
        alert("존재하지 않는 데이터입니다!")
      }

  }

  function recipe_key(r_type,r_key){
  console.log(r_key);
  let data2 = { "r_key": r_key, };
    fetch('/recipe_review_detail', {
        method: 'POST', 
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data2),
      })
      .then((response) => response.json())
      .then((data2) => {
        console.log('성공:', data2.r_key);
        window.location.href="/recipe_review_detail?r_type="+r_type+"&?r_key="+r_key
      })
      .catch((error) => {
        console.log('실패:', error);
    });

  }

  function place_name(p_name){
    console.log(p_name);
    let data3 = { "p_name": p_name, };
      fetch('/place_review_all', {
          method: 'POST', 
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data3),
        })
        .then((response) => response.json())
        .then((data3) => {
          console.log('성공:', data3.p_name);
          window.location.href="/place_review_all?p_name="+data3.p_name
        })
        .catch((error) => {
          console.log('실패:', error);
      });
    
    }

  function place_key(p_name,p_key){
    console.log(p_key);
    let data = { "p_key": p_key, };
      fetch('/place_review_detail', {
          method: 'POST', 
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        })
        .then((response) => response.json())
        .then((data) => {
          console.log('성공:', data.p_key);
          window.location.href="/place_review_detail?p_name="+p_name+"&?p_key="+p_key
          // let placeName = data[1];
          // let title = data[2];
          // document.getElementById('test').innerHTML = placeName+" =place1"//현재 로그인된 사용자 표시
          // document.getElementById('title').innerHTML = "한줄 소개: "+title;
        })
        .catch((error) => {
          console.log('실패:', error);
      });
    
    }
 
    
</script>