<!DOCTYPE html>
<html lang="en">
<head>    
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RDCM2F77Z4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RDCM2F77Z4');
</script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
    <!-- <script src="//code.jquery.com/jquery-3.3.1.min.js"></script> -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>레시피 상세 페이지</title>
  <meta charset="utf-8">
  <style>

      /* Main */
      .cell {
      box-sizing: border-box;
    }

    .con {
      margin-left:auto;
      margin-right:auto;
    }
    .con {
      max-width: 1500px;
    }
    .list-box-1 > ul > li {
      width:50%;
      padding:0 10px;
      margin-top:20px;
    }
    @media (min-width:801px) {
      .list-box-1 > ul > li {
      width:20%;
      }
    }
	#main {
		background: #fff;
		border-top: solid 5px #b1ddab;
		border-bottom: solid 5px #c1cac5;
		border-top-width: 35px;
		border-bottom-width: 10px;
		padding: 6em 0 6em 0;
	}
.list_view {
  width:75%;
  height:"200px"
}
/* Sidebar + Content */

	.sidebar h2.major {
		text-align: left;
		margin: 0 0 1.5em 0;
	}

		.sidebar h2.major span {
			padding-left: 0;
		}
		/* Sidebar */

    .sidebar {
				border-top: solid 2px #e7eae8;
				padding-top: 50px;
			}
  p2 { border : 3px solid pink; 
    margin: 30px auto;
    width: 75%;
    justify-content: center;
    border-style : solid;}
/* Footer */

	#footer {
		text-align: center;
		padding: 8em 0 8em 0;
	}

		#footer a {
			color: inherit;
		}

		#footer h2.major {
			margin: 0 0 1.5em 0;
		}

			#footer h2.major span {
				background: #f2f5f3;
			}


    .background {
        background-color: rgb(255, 255, 255);
        height: auto;
        width: 100%;
        max-width: 1700px;
        padding: 10px;
        margin: 25px auto;
        border-radius: 5px;
        box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);

    }
    #wrap{
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    padding-top:30px;
  }
div > article{
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  #wrap_2{
        width: 100%;
        margin: 0 50px;
        overflow: hidden;
        padding-top:30px;
      }
     
  .btn {            
            border: none;
            width: auto;
            background-color: lightblue;
            color: white;
            padding: 15px auto;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
            transition: .2s;
        }
        .btn:hover {
            background-color: lightblue;
        }

</style>
</head>

<body>
    <div id="nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="./interest">우리집은 미슐랭 3스타</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./mainplace">맛집</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./mainrecipe">레시피</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">공지사항</a>
                </li>
              </ul>
              <form class="d-flex">
                <a href="./profile" >
                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA2MTJfMTM3%2FMDAxNjU1MDI1Mjc1MzU3.OVYKwTpbFBOJReYnuQozRpBrDPFf12f0o7qzDcOB4jkg.zFniiigVs2n9VHeyglPDcO5sJ7PX5uSHP3gvc5FoN9Mg.PNG.kimgomram%2Fimage.png&type=a340" class="img-thumbnail" width="100px" height="120px">
                </a>
                <input class= "form-control search_input" id="searchInput" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" onclick="search_click()" type="button">SEARCH</button>
                <button class="btn btn-outline-success" onclick="location.href='/api/users/logout'" type="button" >LOGOUT</button>
              </form>
            </div>
          </div>
        </nav>
    </div>

                <section id="main">
                  <div class="container">
                    <div class="row">
                      <div class="col-9 col-12-medium">
                        <div class="content">
        
                          <!-- Content -->
        
                            <article class="box page-content">
        
                              <header>
                                <% data.forEach((el,index) => {%>
                                  <% if(el.r_key==r_key) { %>
                                    <h2><%= el.RCP_NM %></h2>
                                    <p> <%=el.food1 %> </p>
                                    <form action="/one_follow" method="post">
                                      <input type="text" name="writer_id" value=<%= el.id %> id="writer_id" style="display: none">
                                      <button type="submit" class="btn" style="display: none">작성자</button>
                                    <p> 작성자 : <%= el.id %> </p> </form>
                                    <button class="btn btn-outline-primary" onclick="move_profile()">작성자 프로필 보기</button>
                                <ul class="meta">
                                  <li class="icon fa-clock"><%= el.date %></li>
                                  <li class="icon fa-comments">댓글 <%= r_comcnt %>개 </li>
                                  <li class="icon fa-recommand">추천수 <%= el.recommand %>개 </li>
                                </ul>
                              </header>

                              <section>
                                
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src = <%=el.image %> justify-content-start  width="750px" height="750px">
                                  </div>
                                </div>  
                            

                              </section>
                              <div class="background">
  
                                  <h3>만드는 방법 </h3>
                                  
                                </li>
                                <li id="cell" class="cell">
                                  <div class="row">
                                  <div class="col-4">
                                <img src = <%= el.MANUAL_IMG1 %>  width="250px" height="250px"></div>
                                <div class="col-8">
                                <%= el.MANUAL01 %></div>
                                <li id="cell" class="cell">
                                  <div class="row">
                                  <div class="col-4">
                                <img src = <%= el.MANUAL_IMG2 %>  width="250px" height="250px"></div>
                                <div class="col-8">
                                <%= el.MANUAL02 %></div>
                            </li><li id="cell" class="cell">
                                <div class="row">
                                  <div class="col-4">

                                <img src = <%= el.MANUAL_IMG3 %>  width="250px" height="250px"></div>
                                <div class="col-8">
                                <%= el.MANUAL03 %></div>
                            </li>
                            <% if(!el.MAUNAL04 ) { }else{ %>
                            <li id="cell" class="cell">
                                <div class="row">
                                  <div class="col-4">
                                <img src = <%= el.MANUAL_IMG4 %>  width="250px" height="250px">
                              </div>
                              <div class="col-8">
                              <%= el.MANUAL04 %></div>
                            </li>
                            <% }  %> 
                            <% if(!el.MANUAL05 ) { }else{ %>
                            <li id="cell" class="cell">
                              <div class="row">
                                <div class="col-4">
                                
                                <img src = <%= el.MANUAL_IMG5 %>  width="250px" height="250px">
                              </div>
                              <div class="col-8">
                              <%= el.MANUAL05 %></div>
                            </li>
                            <% }  %> 
                            <% if(!el.MAUNAL06 ) { }else{ %>
                              <li id="cell" class="cell">
                              <div class="row">
                                <div class="col-4">
                                <img src = <%= el.MANUAL_IMG6 %>  width="250px" height="250px">
                              </div>
                              <div class="col-8">
                              <%= el.MANUAL06 %></div>
                            </li>
                            <% }  %> 
                            <% if(!el.MAUNAL07 ) { }else{ %>
                              <li id="cell" class="cell">
                              <div class="row">
                                <div class="col-4">
                                <img src = <%= el.MANUAL_IMG7 %>  width="250px" height="250px">
                              </div>
                              <div class="col-8">
                              <%= el.MANUAL07 %></div>
                            </li>
                            <% }  %> 
                            <% if(!el.MAUNAL08 ) { }else{ %>
                              <li id="cell" class="cell">
                              <div class="row">
                                <div class="col-4">
                                <img src = <%= el.MANUAL_IMG8 %>  width="250px" height="250px">
                              </div>
                              <div class="col-8">
                              <%= el.MANUAL08 %></div>
                            </li>
                            <% }  %> 
                            <% if(!el.MAUNAL09 ) { }else{ %>
                              <li id="cell" class="cell">
                              <div class="row">
                                <div class="col-4">
                                
                                <img src = <%=el.MANUAL_IMG9 %>  width="250px" height="250px">
                              </div></div>
                              <div class="col-8">
                              <%= el.MANUAL09 %></div>
                            </li>
                            <% }  %> 
                            <% if(!el.MAUNAL10 ) { }else{ %>
                            <li id="cell" class="cell">
                              <div class="row">
                                <div class="col-4">
                                <img src = <%= el.MANUAL_IMG10 %>  width="250px" height="250px">
                              </div>
                              <div class="col-8">
                              <%= el.MANUAL10 %></div>    
                            </li>
                            <% }  %> 
                            <% if(!el.MAUNAL11 ) { }else{ %>
                              <li id="cell" class="cell">
                              <div class="row">
                                <div class="col-4">
                                <img src = <%= el.MANUAL_IMG11 %>  width="250px" height="250px">
                              </div>
                              <div class="col-8">
                              <%= el.MANUAL11 %></div>                               
                            </li>
                            <% }  %> 
                            <% if(!el.MAUNAL12 ) { }else{ %>
                            <li id="cell" class="cell">
                              <div class="row">
                                <div class="col-4">
                                <img src = <%= el.MANUAL_IMG12 %>  width="250px" height="250px">
                              </div>
                              <div class="col-8">
                              <%= el.MANUAL12 %></div>                               
                            </li>
                            <% }  %> 
                            <% if(!el.MAUNAL13 ) { }else{ %>
                            <li id="cell" class="cell">
                              <div class="row">
                                <div class="col-4">
                                <img src = <%= el.MANUAL_IMG13 %>  width="250px" height="250px">
                              </div>
                              <div class="col-8">
                              <%= el.MANUAL13 %></div>                               
                            </li>
                            <% }  %> 
                            <% if(!el.MAUNAL14 ) { }else{ %>
                            <li id="cell" class="cell">
                              <div class="row">
                                <div class="col-4">
                                <img src = <%= el.MANUAL_IMG14 %>  width="250px" height="250px">
                              </div>
                              <div class="col-8">
                              <%= el.MANUAL14 %></div>                               
                            </li>
                            <% } %> 
                            <% if(!el.MAUNAL15 ) { }else{ %>
                            <li id="cell" class="cell">
                              <div class="row">
                                <div class="col-4">
                                <img src = <%= el.MANUAL_IMG15 %>  width="250px" height="250px">
                              </div>
                              <div class="col-8">
                              <%= el.MANUAL15 %></div>                               
                            </li>
                            <% }  %> 
                            <% if(!el.MAUNAL16 ) { }else{ %>
                            <li id="cell" class="cell">
                              <div class="row">
                                <div class="col-4">
                                <img src = <%= el.MANUAL_IMG16 %>  width="250px" height="250px">
                              </div>
                              <div class="col-8">
                              <%= el.MANUAL16 %></div>                               
                            </li>
                            <% }  %> 
                            <% if(!el.MAUNAL17 ) { }else{ %>
                            <li id="cell" class="cell">
                              <div class="row">
                                <div class="col-4">
                                <img src = <%= el.MANUAL_IMG17 %>  width="250px" height="250px">
                              </div>
                              <div class="col-8">
                              <%= el.MANUAL17 %></div>                               
                            </li>
                            <% }  %> 
                            <% if(!el.MAUNAL18 )  { }else{ %>
                            <li id="cell" class="cell">
                              <div class="row">
                                <div class="col-4">
                                <img src = <%= el.MANUAL_IMG18 %>  width="250px" height="250px">
                              </div>
                              <div class="col-8">
                              <%= el.MANUAL18 %></div>                               
                            </li>
                            <% }  %> 
                            <% if(!el.MAUNAL19 ) { }else{%>
                            <li id="cell" class="cell">
                              <div class="row">
                                <div class="col-4">
                                <img src = <%= el.MANUAL_IMG19 %>  width="250px" height="250px">
                              </div>
                              <div class="col-8">
                              <%= el.MANUAL19 %></div>                               
                            </li>
                            <% } %> 
                            </div>
                          
                              </div>
                              <section>
                                <div class="comment_div">
                                  <h3>댓글 </h3>
                                  <div>
                                    <% for(let i = 0; i < r_comment.length; i++){ %> 
                                      <%= r_comment[i].writer_name %>님이 작성한 댓글:
                                      <%= r_comment[i].text %>
                                      <br>
                                     <% } %>
                                  </div>
                                  
                                  <div id="write_com">
                                    <form action="./api/users/r_upload_comment" method="post">
                                      <input type="hidden" name="r_key" id="r_key">
                                      <input type="hidden" name="writer" id="writer">
                                      <input type="text" name="text" id="text" placeholder="댓글을 작성헤 보세요.">
                                      <button type="submit" class="btn btn-primary">작성 완료</button>
                                    </form>
                                  </div>
                                </div>
                            
                              
                            
                              </section>

               
                     
                      </div>
                      <div class="col-3 col-12-medium">
                        <div class="sidebar">
        
                          <!-- Sidebar -->
        
                            <!-- Recent Posts -->
                            <section>
                              <h2 class="major"><span></span></h2>
                              <ul class="divided">
                                <li>
                                  <article class="box post-summary">
                                    <div id="r_bookmark">
                                      <form action="./api/users/r_bookmark" method="post">
                                        <input type="hidden" name="r_key2" id="r_key2">
                                        <input type="hidden" name="id" id="id">
                                        <button type="submit" class="btn btn-primary">북마크하기</button>
                                      </form>
                                    </div>
                                  </article>
                                <li>
                                  <article class="box post-summary">
                                    <div id="r_recommand">
                                      <form action="./api/users/r_recommand" method="post">
                                        <input type="hidden" name="r_key3" id="r_key3">
                                        <button type="submit" class="btn btn-primary">추천하기</button>
                                      </form>
                                    </div>                                    
                                  </article>
                                </li>
                              </ul>

                            </section>
        
                            <!-- Something -->
                              <section>
                                  <p><%= el.RCP_PARTS_DTLS %></p>

                                
                                  <a href="https://www.kurly.com/main" class="button alt">재료 구매 사이트 연결</a>
                              </section>
                              <!-- <% } %>;
                              <% }) %> -->
                        </div>
                      </div>
  
                    </div>
                  </div>
                </section>
        
              </div>

<script>
     let s_data = []
  let name_arr = []
  //검색 데이터
  fetch("/api/users/search")
  .then((response) => response.json())
  .then(arr => {
  console.log("성공공", arr)
  s_data = arr
  arr.forEach(el => {
    name_arr.push(el.name)
  });
  console.log(name_arr)
  $("#searchInput").autocomplete({  //오토 컴플릿트 시작
    
    source: name_arr,	// source는 data.js파일 내부의 List 배열
    focus : function(event, ui) { // 방향키로 자동완성단어 선택 가능하게 만들어줌	
      return false;
    },
    minLength: 1,// 최소 글자수
    delay: 100,	//autocomplete 딜레이 시간(ms)
    //disabled: true, //자동완성 기능 끄기
    select: function(event,ui){ //close 이벤트에 form submit을 추가 해줍니다.
      console.log(arr)
      arr.forEach(el => {
        if (el.name === ui.item.value) {
        console.log(el.type)
        console.log(el.key)
          if (el.type == "p") {
            place_name(el.name)
          }
          else{
            recipe_key(el.foodT, el.name)
          }
        }
      });
    }
  });


  });



  function search_click(){
    let a = document.getElementById('searchInput').value
      if (a === "") {
        alert("검색어를 입력하세요!")
      }
      else if(name_arr.includes(a)){
        s_data.forEach(el => {
          if (el.name === a) {
            console.log(el.type)
            console.log(el.key)
              if (el.type == "p") {
                place_name(el.name)
              }
              else{
                recipe_key(el.foodT, el.name)
              }
            }
            
          });
      }
      else{
        alert("존재하지 않는 데이터입니다!")
      }

  }

  function recipe_key(r_type,r_key){
  console.log(r_key);
  let data2 = { "r_key": r_key, };
    fetch('/recipe_review_detail', {
        method: 'POST', 
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data2),
      })
      .then((response) => response.json())
      .then((data2) => {
        console.log('성공:', data2.r_key);
        window.location.href="/recipe_review_detail?r_type="+r_type+"&?r_key="+r_key
      })
      .catch((error) => {
        console.log('실패:', error);
    });

  }

  function place_name(p_name){
    console.log(p_name);
    let data3 = { "p_name": p_name, };
      fetch('/place_review_all', {
          method: 'POST', 
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data3),
        })
        .then((response) => response.json())
        .then((data3) => {
          console.log('성공:', data3.p_name);
          window.location.href="/place_review_all?p_name="+data3.p_name
        })
        .catch((error) => {
          console.log('실패:', error);
      });
    
    }




  const r_key ='<%= r_key%>';
  let data = { "r_key": r_key, };

  function move_profile(){
    document.location.href="/one_follow";
    localStorage.setItem('fid', document.getElementById('writer_id').value);
  }

  const token = {"token":""};
    const jwt = sessionStorage.getItem("token")
          if (jwt == "") {
            location.href="/"
            alert("로그인 시간을 초과했습니다. 재로그인 하세요.")
          }

          const id = parseJwt(jwt)


         document.getElementById(`writer`).value = id;
         document.getElementById(`r_key`).value = r_key;
         document.getElementById(`id`).value = id;
        document.getElementById(`r_key2`).value = r_key;
        document.getElementById(`r_key3`).value = r_key;


      function parseJwt (token) {
        var base64Url = token.split('.')[1];
        var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        var jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload).id;
      };

</script>


</body>
</html>
